<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/tabs/offers"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ place.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button
    margin
    color="primary"
    [routerLink]="['/', 'places', 'tabs', 'offers', 'edit', place.id]"
    >Edit</ion-button>

  <ion-button
    margin
    color="success"
    [routerLink]="['/', 'places', 'tabs', 'offers', 'edit', place.id]"
    ><ion-icon name="call"></ion-icon></ion-button>
    <ion-button
    margin
    color="tertiary"
    [routerLink]="['/', 'places', 'tabs', 'offers', 'edit', place.id]"
    ><ion-icon name="mail"></ion-icon></ion-button>
</ion-content>
